<div class="account-layout__container">
    <div class="account-layout__sidebar">
        {{>Button variant="arrow" arrow="left" }}
    </div>
    <div class="account-layout__content">
        <div class="content__wrapper">
            {{> children }}
        </div>
    </div>
</div>
