 <div class="logo__container">
    <div class="logo__image">
      <img src="{{image}}" alt="logo" />
    </div>
    {{#if showName}}
      <div class="logo__text">
        {{name}}
      </div>
    {{/if}}
</div>
