<div class="form__container">
    <form class="form">
        <div class="form__header">
            <h4 class="form__title">{{title}}</h4>
        </div>
        <div class="form__body">
            {{> body}}
        </div>
        <div class="form__footer">
            {{> footer}}
        </div>
    </form>
</div>


