{{#> ChatsLayout }}
    {{#*inline "children"}}
        {{#unless selectedChat}}
            <div class="stub-text">
                Выберите чат чтобы отправить сообщение
            </div>
        {{/unless}}
    {{/inline}}
{{/ ChatsLayout }}
