<div class="chats-layout__container">
    <div class="chats-layout__sidebar">
        <div class="sidebar__search">
            <div class="link-wrapper">
                {{> Button variant="link" text="Профиль >" color="secondary" size="large" }}
            </div>
            {{> Input variant="filled" leftIconSearch="true" name="message" placeholder="Поиск" color="primary" }}
        </div>
        {{> Divider }}
       <ul class="chats-list">
            {{#each chats}}
                <li class="chats-list__item"></li>
            {{/each}}
        </ul>
    </div>
    <div class="chats-layout__content">
        <div class="content__wrapper">
            {{> children }}
        </div>
    </div>
</div>
