<div class="page-error-container">
   <div class="page-error-body">
    <h2 class="page-error-body__status">{{status}}</h2>
    <p class="page-error-body__description">{{message}}</p>
  </div>

  {{> Button text="Назад к чатам" variant="link" color="primary" size="small" }}
</div>